@charset "UTF-8";

body{
    background-image: url(../_imagens/background.jpg);
    background-repeat: no-repeat;
}

ul#Mapas{
    width: 1000px;
    margin: 0 auto;
    padding: 100px;
    overflow: hidden;
    list-style: none;
}

ul#Mapas li{
    float: left;
    width: 300px;
    height: 200px;
    margin: 10px;
    border: 3px solid black;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 4);
}
.mapasvet:hover{
    -webkit-transform: scale(1.1);
    -webkit-transition: all .4s ease-in ;
    border: 3px solid black;
}

ul#Mapas li span{
    opacity: 1;
    position: relative;
    top: -43px;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 25pt;
    margin-left: 90px;
    padding: 5px;
}


.foto01{
    position: fixed;
    width: 50%;
    top: 200px;
    left: 25%;
    padding: 10px;
    border: 5px solid black;
    box-shadow: 0 0 25px 10px black;
    background: black;
    border-radius: 5px;
}

.foto02{
    position: fixed;
    width: 50%;
    top: 200px;
    left: 25%;
    padding: 10px;
    border: 5px solid black;
    box-shadow: 0 0 25px 10px black;
    background: black;
    border-radius: 5px;
}

.foto03{
    position: fixed;
    width: 50%;
    top: 200px;
    left: 25%;
    padding: 10px;
    border: 5px solid black;
    box-shadow: 0 0 25px 10px black;
    background: black;
    border-radius: 5px;
}

.foto04{
    position: fixed;
    width: 50%;
    top: 200px;
    left: 25%;
    padding: 10px;
    border: 5px solid black;
    box-shadow: 0 0 25px 10px black;
    background: black;
    border-radius: 5px;
}

.foto05{
    position: fixed;
    width: 50%;
    top: 200px;
    left: 25%;
    padding: 10px;
    border: 5px solid black;
    box-shadow: 0 0 25px 10px black;
    background: black;
    border-radius: 5px;
}

.foto06{
    position: fixed;
    width: 50%;
    top: 200px;
    left: 25%;
    padding: 10px;
    border: 5px solid black;
    box-shadow: 0 0 25px 10px black;
    background: black;
    border-radius: 5px;
}

.foto07{
    position: fixed;
    width: 50%;
    top: 200px;
    left: 25%;
    padding: 10px;
    border: 5px solid black;
    box-shadow: 0 0 25px 10px black;
    background: black;
    border-radius: 5px;
}